{%extends "base.html"%}
{%block title%}修改密码{%endblock%}
{%block head%}
{%endblock%}
{%block content%}
<div class="row">
    <div class="span12 well">
        {% if error %}
        <p id="error" class="error" style='color:red;'>{{error}}</p>
        {% endif %}
        {% if success %}
        <p id="success" class="success" style='color:green;'>{{success}}</p>
        {% endif %}
        <div>
        <form action="" method="post">
            <table>
                <tr>
                    <td>旧密码</td>
                    <td><input type="password" name="old_password" /></td>
                </tr>
                <tr>
                    <td>新密码</td>
                    <td><input minlength="6" type="password" name="new_password" /></td>
                </tr>
                <tr>
                    <td>新密码确认</td>
                    <td><input minlength="6" type="password" name="new_password_again" /></td>
                </tr>
            </table>
            <input class="btn btn-primary" type="submit">
        </form>
        </div>
    </div>
</div>
{%endblock%}
