{%extends "base.html"%}
{%block title%}学长说|{{course.name}}{%endblock%}
{%block head%}
<script type="text/javascript" src="/static/js/jquery.js"></script>
{%endblock%}
{%block content%}
<h2>{{course.name}}-<div id="courseid" style="display: inline">{{course.courseID}}</div></h2>
<div class="well">
	课程描述：
	<div id="cd">{{courseDescription.content}}</div>
	<textarea id="edit-cd" style="display: none;" rows="15"></textarea>
	<div>
		<button class="btn btn-primary" id="btn-cd">修改</button>
		<button class="btn btn-success" id="btn-submit-cd" style="display: none;">确定</button>
	</div>
	<div id="cd-contributors">
		由
		<span class="namelist" id="contributor-list">
			{% for contributor in courseDescription.contributors.all %}
			{{contributor.name}}同学
			{% endfor %}
		</span>
		编辑过
	</div>
</div>
{%for teacher in teachers%}
<div class="well">
	<div class="row-fluid">
		<div class="span6">
			<p>姓名：{{teacher.name}}</p>
			<p>rank：{{teacher.rank}}</p>
			{%for cmt in teacher.comments%}
			<p>{{cmt.comment}}</p>
			<p>{{cmt.user.name}}</p>
			<p>{{cmt.datetime}}</p>
			{%endfor%}
		</div>
		<div class="span6">
			<form action="" method="post">
				<textarea name="comment"></textarea>
				<input name="teacher" type="hidden" value="{{teacher.name}}">
				<input class="btn" type="submit" value="评论">
			</form>
			<div class="rating" id="rating-{{courseID}}-{{teacher.id}}">
				<span class="star" id="star-5">☆</span><span class="star" id="star-4">☆</span><span class="star" id="star-3">☆</span><span class="star" id="star-2">☆</span><span class="star" id="star-1">☆</span>
			</div>
		</div>
	</div>
</div>
{%endfor%}
<script type="text/javascript">
$(document).ready(function(){
	$("#btn-cd").click(function(){
		$("#btn-cd").hide();
		$("#btn-submit-cd").show();
		$("#cd").hide()
		$("#edit-cd").val($("#cd").text().trim()).show();
	});

	$("#btn-submit-cd").click(function(){
		$.ajax({url:"/modify_course_description/",
			type:"POST",
			data:{
				cid: $("#courseid").text(),
				content: $("#edit-cd").val()
			},
			success: function(response){
				// console.log(response);
				data = JSON.parse(response)
				$("#cd").text(data['content']).show();
				$("#contributor-list").text(data["contributors"])
				$("#btn-cd").show();
				$("#btn-submit-cd").hide();
				$("#edit-cd").hide();
			}
		});
	});

	$(".star").click(function(){
		$.ajax({
			url:"/vote_course_teacher/",
			type: "POST",
			data: {
				value: Number($(this).attr("id").split("-")[1]),
				courseID: $(this).parent().attr("id").split("-")[1],
				teacherID: $(this).parent().attr("id").split("-")[2]
			},
			success: function(response){
				console.log(response)
			}
		})
	})
});
</script>
{%endblock%}
