{%extends "base.html"%}
{%block title%}{{course.name}}{%endblock%}
{%block head%}
<script type="text/javascript" src="/static/js/jquery.js"></script>
{%endblock%}
{%block content%}
<h2>{{course.name}}-<div id="courseid" style="display: inline">{{course.courseID}}</div></h2>
<div class="well">
	课程描述：
	<div class="cd">
	{{courseDescription.0.content}}
	</div>
	<textarea id="edit-cd" style="display: none;"></textarea>
	<div>
		<button class="btn btn-primary" id="btn-cd">修改</button>
		<button class="btn btn-success" id="btn-submit-cd" style="display: none;">确定</button>
	</div>
</div>
{%for teacher in teachers%}
<div class="well">
	<div class="row-fluid">
		<div class="span6">
			<p>姓名：{{teacher.name}}</p>
			<p>rank：{{teacher.rank}}</p>
			{%for cmt in teacher.comments%}
			<p>{{cmt.comment}}</p>
			<p>{{cmt.user.name}}</p>
			<p>{{cmt.datetime}}</p>
			{%endfor%}
		</div>
		<div class="span6">
			<form action="" method="post">
				<textarea name="comment"></textarea>
				<input name="teacher" type="hidden" value="{{teacher.name}}">
				<input class="btn" type="submit" value="评论">
			</form>
			<form action="/vote_course_teacher/" method="post">
				<input name="teacher" type="hidden" value="{{teacher.name}}">
				<input name="course" type="hidden" value="{{course.courseID}}">
				<label class="radio inline">
					<input type="radio" name="rankoption1" id="rankoption1" val="option1">1
				</label>
				<label class="radio inline">
					<input type="radio" name="rankoption2" id="rankoption2" val="option2">2
				</label>
				<label class="radio inline">
					<input type="radio" name="rankoption3" id="rankoption3" val="option3">3
				</label>
				<label class="radio inline">
					<input type="radio" name="rankoption4" id="rankoption4" val="option4">4
				</label>
				<label class="radio inline">
					<input type="radio" name="rankoption5" id="rankoption5" val="option5">5
				</label>
				<input class="btn" type="submit" value="打分">
			</form>
		</div>
	</div>
</div>
{%endfor%}
<script type="text/javascript">
$(document).ready(function(){
	$("#btn-cd").click(function(){
		$("#btn-cd").hide();
		$("#btn-submit-cd").show();
		$("#edit-cd").show();
		$("#edit-cd").val($(".cd").text().trim());
	});

	$("#btn-submit-cd").click(function(){
		$.post("/modify_course_description/",
		{
			cid: $("#courseid").text(),
			content: $("#edit-cd").val()
		},
		function(data){
			console.log(data);
			if (data="success"){
				window.localtion.reload();
			}
		});
	});
});
</script>
{%endblock%}
