{%extends "base.html"%}
{%block title%}学长说|{{course.name}}{%endblock%}
{%block head%}
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/ckeditor/ckeditor.js"></script>
{%endblock%}
{%block content%}
<div class="well">
<h2>{{course.name}}-<div id="courseid" style="display: inline">{{course.courseID}}</div></h2>
	课程描述：
	<div id="cd">{{cd_content|safe}}</div>
	<textarea id="edit-cd" style="display: none;" rows="15"></textarea>
	<div class="right-align">
		<a id="btn-cd">我要修改</a>
		<button class="btn btn-success" id="btn-submit-cd" style="display: none;">确定</button>
		<button class="btn btn-cancel" id="btn-cancel-cd" style="display: none;">取消</button>
		<div id="cd-contributors">
			{% if courseDescription.contributors.all %}
			由
			<span class="namelist" id="contributor-list">
				{% for contributor in courseDescription.contributors.all %}
				{{contributor.name}}同学
				{% endfor %}
			</span>
			编辑过
			{% endif %}
		</div>
	</div>
</div>
{%for teacher in teachers%}
<div class="well">
	<div class="row-fluid">
		<div class="span4">
			<div class="row">
				<div class="span9 offset1 teacher_name"><p>{{teacher.name}}</p></div>
				<div class="span1 rank">{{teacher.rank}}</div>
			</div>
			<div class="rating span11" id="rating-{{courseID}}-{{teacher.id}}">
				<span class="star" id="star-5">☆</span><span class="star" id="star-4">☆</span><span class="star" id="star-3">☆</span><span class="star" id="star-2">☆</span><span class="star" id="star-1">☆</span>
			</div>
		</div>
		<div class="span8">
			<div class="comment-list span12">
				{%for cmt in teacher.comments%}
				<div class="comment row">	
					<div class="span10  comment-content">{{cmt.comment}}</div>
					<div class="span12 right-align">
						<span class="comment-date">{{cmt.datetime|timesince|cut:","|cut:" "}}前</span>
						<span class="comment-name"><a href="/profile/{{cmt.user.id}}">{{cmt.user.name}}</a></span>
					</div>
				</div>
				{%endfor%}
				<div class="right-align ">
					<a class="right-align btn-add-comment">加一条</a>	
					<form action="" id="add-comment-form-{{cmt.teacher.id}}" method="post" style="display: none;">
						<textarea style="width:100%" name="comment"></textarea>
						<input name="teacher" type="hidden" value="{{teacher.name}}">
						<input class="btn" type="submit" value="评论">
					</form>			
				</div>
			</div>
		</div>
	</div>
</div>
{%endfor%}
<script type="text/javascript">
$(document).ready(function(){
	$("#btn-cd").click(function(){
		$("#btn-cd").hide();
		$("#btn-submit-cd").show();
		$("#btn-cancel-cd").show();
		$("#cd").hide()
		$("#edit-cd").val($("#cd").html().trim()).show();
		CKEDITOR.config.toolbar = [
			{ name: 'basicstyles', items : [ 'Bold','Italic','Underline','Strike', 'Format'] },
			{ name: 'paragraph', items : [ 'NumberedList','BulletedList','-','Outdent','Indent','-','Blockquote',] },
			{ name: 'links', items : [ 'Link','Unlink' ] },
			{ name: 'insert', items : [ 'HorizontalRule','SpecialChar',] },
			{ name: 'document', items : [ 'Source','-',] },	
			{ name: 'colors', items : [ 'TextColor','BGColor' ] },
			{ name: 'tools', items : [ 'Maximize'] }
		] ;
		CKEDITOR.replace('edit-cd');
	});

	$("#btn-submit-cd").click(function(){
		$.ajax({url:"/modify_course_description/",
			type:"POST",
			data:{
				cid: $("#courseid").text(),
				content: CKEDITOR.instances['edit-cd'].getData() 
			},
			success: function(response){
				// console.log(response);
				data = JSON.parse(response)
				$("#cd").html(data['content']).show();
				$("#contributor-list").text(data["contributors"])
				$("#btn-cd").show();
				$("#btn-submit-cd").hide();
				$("#btn-cancel-cd").hide();
				CKEDITOR.instances['edit-cd'].destroy();
				$("#edit-cd").hide();
			}
		});
	});

	$("#btn-cancel-cd").click(function(){
		$("#btn-cd").show();
		$("#btn-submit-cd").hide();
		$("#btn-cancel-cd").hide();
		$("#cd").show()
		CKEDITOR.instances['edit-cd'].destroy();
		$("#edit-cd").hide();
	})

	$(".star").click(function(){
		$.ajax({
			url:"/vote_course_teacher/",
			type: "POST",
			data: {
				value: Number($(this).attr("id").split("-")[1]),
				courseID: $(this).parent().attr("id").split("-")[1],
				teacherID: $(this).parent().attr("id").split("-")[2]
			},
			success: function(response){
				console.log(response)
				//FIXME need some notice
			}
		})
	})
	$(".btn-add-comment").toggle(function(){
		$(this).text("取消")
		$(this).next().show();	
	},function(){
		$(this).text("加一条")
		$(this).next().hide();	

	})
});
</script>
{%endblock%}
