{%extends "base.html"%}
{%block title%}登陆{%endblock%}
{%block head%}
<script style="text/javascript" src="/static/js/form_validate.js"></script>
{%endblock%}
{%block content%}
<div>
{% if form.errors %}
<p id="error" class="error" style='color:red;'>帐号和密码不匹配</p>
{% endif %}
<form name='loginForm' onsubmit="return validateLoginForm();"  action="{% url 'django.contrib.auth.views.login' %}" method="post">
	{% csrf_token %}
	<table>
	<label for="username">邮箱:</label>
    {{ form.username }} 
    <label for="password">密码:</label>
    {{ form.password }}
    <input type="hidden" name="next" value="{{ next|escape }}" />
	</table>
    <input class="btn btn-primary" type="submit" value="登陆" />
    <a class="btn" href="/register/">注册</a>
</form>
</form>
</div>
{%endblock%}
            
