{%extends "base.html"%}
{%block title%}{{target_user.name}}之学长说{%endblock%}
{%block content%}
{% if setting %}
<div class="row">
    <div class="span12 well">
        <h3>账户设置</h3>
        <form action="" method="POST">
            <table>    
                <tr><th><label>电子邮箱:</label></th><td>{{user.email}}</td></tr>        
                {{settingForm}}
                <tr><th><label>密码:</label></th><td><a href="/profile/change_password">修改密码</a></td></tr>
            </table>
            <input type="submit" class="btn btn-primary" value="更新设置"/>
        </form>
    </div>
</div>
{% endif %}
<div class="block">
<h3>{{target_user.name}}同学说过:</h3>
</div>
{%if comments%}
{%for item in comments_and_votes%}
<div class="row">
    {% if not item.anonymous or item.user == user %}
    <div class="span12 well">
        {% if item.comment %}
            <h4><a href="/{{item.course_teacher.course.courseID}}/">{{item.course_teacher.course.name}}- {{item.course_teacher.teacher.name}}</a></h4>
            <p class="content">{{item.comment}}</p>
            <p class="date">{{item.datetime|timesince|cut:","|cut:" "}}前</p> 
        {% else %}
            <h4><a href="/{{item.course_teacher.course.courseID}}/">{{item.course_teacher.course.name}}- {{item.course_teacher.teacher.name}}</a></h4>
            <p class="content">评分：{{item.value}}</p>
            <p class="date">{{item.datetime|timesince|cut:","|cut:" "}}前</p> 
        {% endif %}
    </div>
    {% endif %}

</div>

{%endfor%}
{%else%}
<p>木有说神马。。</p>
{%endif%}
{%endblock%}
