{%extends "base.html"%}
{%block title%}学长说|注册{%endblock%}
{%block head%}
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/js/form_validate.js"></script>
{%endblock%}
{%block content%}
<div>
<form id="reg" action="" method="post">{% csrf_token %}
	{% for field in form %}
		<div class="fieldWrapper">
			<label>
			<strong>{{ field.label }}</strong>
			{% if field.help_text %} ({{ field.help_text }}) {% endif %}:
			{% for error in field.errors %}
				<span style='color:red;' id=err_{{ field.html_name }}>{{ error }}</span>
			{% endfor %}
			</label>
			{{ field }}
		</div>
	{% endfor %}
	<input class="btn btn-primary" type="submit" name="submit" value="注册">
</form>
</div>
{%endblock%}
